html {
  /* rem em */
  /* em 相对于父元素的font-size */
  /* rem 相对于根元素html的font-size r就是root的意思 */
  /* 浏览器默认html font-size：16px   16*62.5% =10 */
  font-size: 62.5%;
}
/* viewport height === vh */
html body #root .App {
  min-height: 100vh;
}

.xui-scroll {
  position: relative;
  overflow: auto;
}
.xui-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.xui-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%);
}

.xui-scroll::-webkit-scrollbar-track {
  background-color: rgb(223, 223, 234);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
}
